body {
  margin: 0;
}

/* MENU DE NAVEGAÇÃO */

header {
    background-image: linear-gradient(#FFFFFF, #DBDBDB);
    padding: 0px;
    margin: 0px;
    box-shadow: 4px 4px 9px 0px black;
}

.sitelogo {
    padding: 10px 0px 4px 0px;
    margin: 0px 80px 0px 50px;
}

nav {
    display: flex;
}

nav > a {
    margin-top: 36px;
    margin-left: 170px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

nav > a:hover {
    color: #D8315B;
}

/* PERFIL */

.perfil-circular {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  right: 35px;
  margin-top: 10px;
}

.perfil-circular img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* DOAÇÕES: CATÁLOGO */

#s1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 #s1 > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  margin-top: 45px;
 }

 .donation {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 75px;
 }

 .clothes, .books, .electronics, .food, .others {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
 }

.d1, .info {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
}

.info {
  left: 100%;
  transition: left 1s;
  border-radius: 100%;
}

.clothes:hover .info {
  left: 0%;
}

/* */

.d2, .info2 {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
}

.info2 {
  left: 100%;
  transition: left 1s;
  border-radius: 100%;
}

.books:hover .info2 {
  left: 0%;
}

/* */

.d3, .info3 {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
}

.info3 {
  left: 100%;
  transition: left 1s;
  border-radius: 100%;
}

.electronics:hover .info3 {
  left: 0%;
}

/* */

.d4, .info4 {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
}

.info4 {
  left: 100%;
  transition: left 1s;
  border-radius: 100%;
}

.food:hover .info4 {
  left: 0%;
}

/* */

.d5, .info5 {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
}

.info5 {
  left: 100%;
  transition: left 1s;
  border-radius: 100%;
}

.others:hover .info5 {
  left: 0%;
}

/* RECOMENDADOS - MAIS PROCURADOS */

#s2, #s3 {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#s2 > h1, #s3 > h1 {
  font-size: 25px;
  margin-left: 120px;
}

.recomendados1, .recomendados2, .recomendados3, .procurados1, .procurados2, .procurados3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 75px;
  margin: 0px 640px 200px 120px;
 }

 .r1, .r2, .r3, .r4, .p1, .p2, .p3, .p4 {
  width: 260px;
  height: 260px;
  position: relative;
 }

 .r1 > p, .r2 > p, .r3 > p, .r4 > p, .p1 > p, .p2 > p, .p3 > p, .p4 > p {
  margin-top: 280px;
 }

 .dr1, .dr2, .dr3, .dr4,  .mp1, .mp2, .mp3, .mp4 {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
}

.carrossel, .carrossel2 {
  width: 400%;
  height: auto;
  display: flex;
}

.carrossel > input, .carrossel2 > input {
  display: none;
}

.recomendados2, .recomendados3, .procurados2, .procurados3 {
  width: 25%;
  height: auto;
  position: relative;
  transition: 1s;
}

.nav-manual, .nav-auto, .nav-manual2, .nav-auto2 {
  position: absolute;
  width: 100%;
  margin-top: 25%;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.nav-manual .manual-btn, .nav-auto div, .nav-manual2 .manual-btn2, .nav-auto2 div {
  border: 1px solid #4baabf;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child), .nav-manual2 .manual-btn2:not(:last-child), .nav-auto2 div:not(:last-child) {
  margin-right: 10px;
}

.nav-manual .manual-btn:hover, .nav-manual2 .manual-btn2:hover {
  background-color: #4baabf;
}

#radio1:checked ~ .nav-auto .btn1, #radio2:checked ~ .nav-auto .btn2, #radio3:checked ~ .nav-auto .btn3, #radio2-1:checked ~ .nav-auto2 .btn2-1, #radio2-2:checked ~ .nav-auto2 .btn2-2, #radio2-3:checked ~ .nav-auto2 .btn2-3 {
  background-color: #4baabf;
}

#radio1:checked ~ .recomendados1, #radio2-1:checked ~ .procurados1 {
  margin-left: 2%;
}

#radio2:checked ~ .recomendados1, #radio2-2:checked ~ .procurados1 {
  margin-left: -112.6%;
}

#radio3:checked ~ .recomendados1, #radio2-3:checked ~ .procurados1 {
  margin-left: -150.1%;
}

/* FIM DA PÁGINA */

footer {
  margin-top: 0px;
}

/* SOBRE NÓS E REDES SOCIAS */

.f1 {
    background-color: #D8315B;
    color: white;
    padding: 10px 0px 40px 0px;
    display: flex;
    align-items: end;
    justify-content: left;
    box-shadow: 4px 4px 9px 0px black;
}

.sobrenos {
  margin-right: 210px;
  margin-left: 15px;
  padding-bottom: 20px;
}

.redessociais {
  margin-left: 50px;
  padding: 0;
}

/* LINKS DAS REDES SOCIAIS */

.rds {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .rds ul {
    list-style-type: none;
    display: flex;
    position: relative;
    gap: 10px;
  }
  
  .rds ul li{
    width: 80px;
    height: 65px;
    background-color: #D8315B;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: .2s;
  }
  
  .rds ul li a {
    text-decoration: none;
    color: white;
  }
  
  .rds ul li span {
    position: absolute;
  }
  
  .rds ul li:hover {
    width: 180px;
  }
  
  .rds ul li .icon {
    color: #ccc;
    font-size: 2.2em;
    transition: .2s;
  }
  
  .rds ul li .text {
    color: white;
    font-size: 18px;
    transform: scale(0);
    transition: .2s;
    transition-delay: .1s;
  }
  
  .rds ul li:hover .text {
    transform: scale(1);
  }
  
  .rds ul li:hover .icon {
    transform: scale(0);
  }
  
  .rds ul li::before {
    content: '';
    position: absolute;
    background-image: linear-gradient(45deg, var(--cor1), var(--cor2));
    inset: 0;
    opacity: 0;
    border-radius: 60px;
  }
  
  .rds ul li:hover::before {
    opacity: 1;
  }

  /* LINKS FINAIS E COPYRIGHT */
  
  .f2 {
    background-color: black;
    display: flex;
    height: 22vh;
  }

  /* LINKS FINAIS:
     Políticas de Privacidade
     Contatos
     Parcerias Sociais 
  */

  .finalinks {
    position: absolute;
    left: -20px;
  } 

  .finalinks > li {
    padding-bottom: 20px;
  }

  li > a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  li > a:hover {
    color: #D8315B;
  }

 /* CADASTRAR E-MAIL */

  .container {
    margin-left: 30%;
    height: 20vh;
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;
    text-align: center;
  }

  .emailcad {
    color: white;
  }

  #emailcadtxt {
    color: white;
  }

 /* CADASTRAR E-MAIL: CAMPO */

  .email-input {
    padding: 27px 20px 23px 5px;
    margin-right: -2px;
    font-size: 16px;
    border: 2px solid #4baabf;
    border-right: none; /* Remove a borda direita para fundir com o botão */
    border-radius: 5px 0 0 5px; /* Bordas arredondadas para a esquerda */
    outline: none; /* Remove a borda azul ao focar */
    width: 250px;
    height: 0px;
  }

   /* CADASTRAR E-MAIL: BOTÃO */

  .email-button {
    padding: 10px 50px 10px 10px;
    height: 53px;
    margin-top: 5px;
    margin-left: -2px;
    font-size: 22px;
    border: 2px solid #4baabf;
    border-radius: 0 5px 5px 0; /* Bordas arredondadas para a direita */
    background-color: #4baabf;
    color: white;
    cursor: pointer;
    outline: none; /* Remove a borda azul ao focar */
}

.email-button:hover {
    background-color: #D8315B;
    border-color: #D8315B;
}

 /* CADASTRAR E-MAIL: TEXTO DENTRO DO CAMPO */

.email-input::placeholder {
    color: #999;
}

 /* COPYRIGHT */

.copyright {
  color: white;
  position: absolute;
  right: 10px;
  margin-top: 40px;
}

.copyright > img {
  margin-left: 120px;
}
