html {
    box-sizing: border-box;
    font-size: 16px;
    font-size: 1.6rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    display: flex;
    flex-direction: column;
}

/* Navbar*/
#navbar {
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    text-decoration: none;
    text-align: center;
    flex-direction: row;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
}

nav ul li {
    margin-right: 15px;
}

.nav-wrapper {
    margin: auto;
    width: 80%;
}

.logo {
    float: left;
    margin-left: 28px;
    width: 290px;
    height: 168px;
    left: 8px;
}

#navbar li a {
    color: rgb(13, 26, 38);
    display: block;
    font-size: 0.7em;
    height: 50px;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
}

/* Product */

.wrapper {
    display: flex;
    flex-direction: column;
}

.titulo {
    font-size: 18px;
}

.produto {
    margin: 0 40px 0 40px;
    display: flex;
    flex-direction: column;
}

.container-produto {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.container-produto img {
    height: 400px;
    width: 600px;
}

.wrapper-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    align-content: center;
}

.wrapper-img-produto {
    width: 50%;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.contato ol {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.mensagem i {
    margin-left: 20px;
    align-items: center;
    align-content: center;
}

.descricao-produto{
    font-size: 18px;
}

.nome , .cidade , .estado{
    font-size: 20px;
}